.advantages {

  &__subtitle {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--night-rider-color);
    outline: 0;

    @include mobile {
      & {
        margin-bottom: 11.5px;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  &__list {
    margin-bottom: 32px;
    max-width: 843px;
  }

  &__item {
    margin-bottom: 12px;

    @include mobile {
      & {
        margin-bottom: 9.5px;
      }
    }

    &-title {
      margin-bottom: 13px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: var(--secondary-color);
      outline: 0;

      @include mobile {
        & {
          margin-bottom: 12.1px;
        }
      }
    }

    &-text {
      font-size: 16px;
      line-height: 180%;
      color: var(--grey-shade-color);
      outline: 0;

      @include mobile {
        & {
          font-size: 14px;
        }
      }
    }
  }
}
