.burger {
  display: none;

  @include small-tablet {
    & {
      display: block;
    }
  }

  @include mobile {
    & {
      padding-left: 4px;
    }
  }

  &__img {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
  }
}
