.card {

  &__item {
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    background-color: var(--grey-light-color);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &__rating {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 130%;
    color: var(--secondary-color);

    &-img {
      margin-right: 6.76px;
      width: 15.73px;
      height: 15px;
      fill: var(--secondary-color);
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    margin-bottom: 17px;
    margin-right: -32px;
    margin-left: -32px;
    padding-right: 13px;
    padding-left: 13px;
    min-height: 133px;
  }

  &__title {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: var(--night-rider-color);

    &-model {
      display: inline-block;
    }
  }

  &__price {
    margin-bottom: 24px;
    display: block;
    font-size: 16px;
    line-height: 130%;
    color: var(--grey-shade-color);
  }

  &__link {
    @include hover {
      +& {
        color: var(--white-color);
        background-color: var(--primary-color);
      }
    }

    &:focus-visible:not(:hover):not(:active) {
      color: var(--white-color);
      background-color: var(--primary-light-color);
    }

    &:active {
      border-color: var(--primary-shade-color);
      background-color: var(--primary-shade-color);
    }
  }
}
