.catalog {

  &__price {
    margin-bottom: 38px;

    &-title {
      margin-bottom: 4px;
    }
  }

  &__form {

    &-price {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    &-label {

      &-span {
        margin-right: 9px;
        font-size: 16px;
        line-height: 130%;
        color: var(--grey-shade-color);
      }
    }

    &-input {
      width: 86px;
      height: 30px;
      padding-left: 12px;
      border: 1px solid var(--grey-color);
      border-radius: 2px;
      outline: none;
      transition: border-color .3s ease-in-out, background-color .3s ease-in-out;

      @include hover {
        +& {
          border-color: var(--primary-color);
        }
      }

      &:focus-visible:not(:hover):not(:active) {
        border-color: var(--primary-shade-color);
        background-color: var(--pink-violet-color);
      }

      &:active {
        border-color: var(--primary-shade-color);
      }
    }
  }
}
