.catalog {

  &__right .catalog__swiper-pagination {
    bottom: 0;
  }

  &__right .swiper-pagination-bullet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--primary-color);
    outline: none;
  }

  &__right .swiper-pagination-bullet-active {
    border-color: var(--primary-shade-color);
    color: var(--white-color);
    background-color: var(--primary-shade-color);
  }

  &__swiper {
    margin-bottom: 32px;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 5px);
  opacity: 1;
}
