.catalog {

  &__furnitures {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .furniture {
    margin-bottom: 11px;
    position: relative;
    font-size: 16px;
    line-height: 130%;
    color: var(--grey-shade-color);
    cursor: pointer;
    outline: none;
    transition: color .3s ease-in-out;

    @include hover {
      +& {
        color: var(--primary-color);
      }
    }

    &:active {
      color: var(--primary-shade-color);
    }

    &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
    }

    &__span {
      position: relative;
      padding-left: 32px;
      transition: color .3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid var(--grey-color);
        border-radius: 2px;
        transition: all .3s ease-in-out;
      }

      @include hover {
        +&::before {
          border-color: var(--primary-color);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 6px;
        width: 8px;
        height: 13px;
        border-right: 2px solid var(--white-color);
        border-bottom: 2px solid var(--white-color);
        opacity: 0;
        transform: rotate(45deg);
        transition: all .3s ease-in-out;
      }
    }

    &-hidden {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  & .furniture__input:checked+.furniture__span::before {
    background-color: var(--primary-color);
  }

  & .furniture__input:checked+.furniture__span::after {
    opacity: 1;
  }

  & .furniture__input:focus-visible:not(:hover):not(:active) + .furniture__span {
    color: var(--primary-light-color);
  }

  & .furniture__input:focus-visible:not(:hover):not(:active) + .furniture__span::before {
    background-color: var(--primary-light-color);
  }
}

.btn-close-furniture {
  display: none;
}

.block {
  display: block;
}

.none {
  display: none;
}
