.catalog {

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__left {
    grid-column: 1/4;

    &-title {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: var(--night-rider-color);
    }
  }

  &-subtitle {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: var(--grey-shade-color);
  }

  &__right {
    grid-column: 4/13;
  }
}
