.contacts {
  padding-bottom: 70px;

  &__title {
    margin-bottom: 16px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    @include tablet {
      & {
        grid-template-columns: repeat(9, 1fr);
      }
    }

    @include mobile {
      & {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  &__form {
    grid-column: 1/13;

    @include tablet {
      & {
        grid-column: 1/10;
      }
    }

    @include mobile {
      & {
        grid-column: 1/7;
      }
    }

    &-input {
      margin-right: 32px;
      width: 624px;
      height: 100%;
      padding-left: 18px;
      border-radius: 10px;
      font-size: 16px;
      line-height: 40px;
      border: 1px solid transparent;
      outline: none;
      color: var(--night-rider-color);
      background-color: var(--grey-light-color);
      transition: background-color .3s ease-in-out, border-color .3s ease-in-out;

      @include hover {
        +& {
          background-color: var(--md-grey-color);
        }
      }

      &:focus-visible:not(:hover):not(:active) {
        border-color: var(--primary-color);
      }

      &::placeholder {
        font-size: 16px;
        line-height: 40px;
        color: var(--grey-color);
      }

      &::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity .3s ease-in-out;
      }

      &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity .3s ease-in-out;
      }

      @include high-tablet {
        & {
          width: 64%;
        }
      }

      @include mobile {
        & {
          margin-bottom: 16px;
          width: 100%;
          height: 54px;
        }
      }
    }

    ymaps.ymaps-2-1-79-search__suggest {
      border: none;
      border-radius: 10px;
      top: 0;
    }

    .ymaps-2-1-79-search__suggest .ymaps-2-1-79-suggest-item {
      height: 54px;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 22px;
      color: var(--night-rider-color);
      margin: 0;
    }

    ymaps.ymaps-2-1-79-suggest-item:last-of-type {
      margin: 0;
    }

    ymaps.ymaps-2-1-79-search__suggest-item {
      display: flex;
      flex-direction: column;
      padding: 15px 15px;
      transition: all .3s ease-in-out;
      border: 1px solid var(--md-grey-color);
      border-radius: 10px 10px 0px 0px;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 22px;
      color: var(--night-rider-color);

      &:hover {
        background-color: var(--grey-light-color);
        border-color: transparent;
      }

      &:active {
        background-color: var(--md-grey-color);
      }
    }

    ymaps.ymaps-2-1-79-suggest-item-1 .ymaps-2-1-79-search__suggest-item {
      border-radius: 0 0 10px 10px;
    }

    ymaps.ymaps-2-1-79-search__suggest-item_selected_yes {
      background-color: var(--pink-light-color);
      border-color: var(--primary-light-color);
    }

    ymaps.ymaps-2-1-79-suggest-item .ymaps-2-1-79-suggest-item-1 {
      border-radius: 0px 0px 10px 10px;
    }

    &-btn {
      color: var(--white-color);
      background-color: var(--primary-color);
      transition: border-color .3s ease-in-out, background-color .3s ease-in-out;

      @include hover {
        +& {
          border-color: var(--primary-light-color);
          background-color: var(--primary-light-color);
        }
      }

      &:focus-visible:not(:hover):not(:active) {
        border-color: var(--primary-shade-color);
        background-color: var(--primary-light-color);
      }

      &:active {
        border-color: var(--primary-shade-color);
        background-color: var(--primary-shade-color);
      }
    }

    &-map {
      grid-column: 1/13;
      height: 510px;

      @include tablet {
        & {
          grid-column: 1/10;
        }
      }

      @include mobile {
        & {
          grid-column: 1/7;
        }
      }
    }
  }
}
