.header {
  margin-bottom: 32px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__line {

    &-first {
      margin-bottom: 32px;
      padding-top: 13px;
      padding-bottom: 14px;
      background-color: var(--grey-light-color);
    }

    &-third {
      margin-bottom: 29px;
    }
  }
}
