.header {

  & .logo__link {
    transition: outline .1s ease-in-out;
  }

  & .logo__link:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 5px;
  }

  &__line {

    &-first {

      & .logo__link {
        display: none;
      }
    }

    &-third {

      & .logo__link {
        margin-right: auto;
      }
    }
  }
}
