.nav {

  &__navigation {

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include small-tablet {
        & {
          display: block;
          column-count: 2;
          padding-left: 9.4%;
          max-width: 344px;
        }
      }
    }

    &-item {
      @include small-tablet {
        & {
          width: 144px;
        }

        &:not(:nth-child(3n)) {
          margin-bottom: 41px;
        }
      }
    }

    &-link {
      position: relative;
      font-size: 16px;
      line-height: 22px;
      color: var(--night-rider-color);
      transition: color .3s ease-in-out;

      @include hover {
        +& {
          color: var(--primary-color);
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -1px;
        right: 0;
        bottom: 0;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 2px);
        background-color: var(--pink-violet-color);
        z-index: -1;
        transform: translate(0, 0) scaleX(0);
        transform-origin: center;
        transition: transform .3s ease-in-out;
      }

      &:focus-visible:not(:hover):not(:active)::before {
        transform: translate(0, 0) scaleX(1);
      }

      &:focus-visible:not(:hover):not(:active) {
        color: var(--night-rider-color);
      }

      &:active {
        color: var(--primary-shade-color);
      }
    }

    &-close {
      display: none;

      @include small-tablet {
        & {
          display: block;
          margin-bottom: 31px;
          padding: 0.3% 0 0 9.4%;
        }
      }

      &-img {
        width: 24px;
        height: 24px;
        fill: var(--primary-color);
      }
    }

    @include small-tablet {
      & {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 500;
        overflow-y: auto;
        width: 100%;
        height: var(--vh);
        background-color: var(--white-color);
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
        background-image: url(../img/logoBurger.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-position: top 8.95% right 11.9%;
      }
    }
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
