.header__nav {
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 3px 5px 7px;

    @include big-desktop {
      & {
        padding: 2px 2px 0 39px;
      }
    }

    @include high-tablet {
      & {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 12% 53% 0 9.5%;
      }
    }

    @include small-tablet {
      & {
        padding: 12% 39% 0 9.5%;
      }
    }

    @include mobile {
      & {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 63px 35% 0 3.8%;
      }
    }
  }

  &-item {

    @include high-tablet {
      & {
        margin-bottom: 41px;
      }
    }
  }

  &-link {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: var(--night-rider-color);
    transition: color .3s ease-in-out;

    @include hover {
      +& {
        color: var(--primary-color);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      bottom: 0;
      right: 0;
      width: calc(100% + 20px);
      height: 100%;
      background-color: var(--pink-violet-color);
      transform: translate(0, 0) scaleX(0);
      transform-origin: center;
      transition: transform .3s ease-in-out;
      z-index: -1;
    }

    &:focus-visible:not(:active):not(:hover)::before {
      transform: translate(0, 0) scaleX(1);
    }

    &:active {
      color: var(--primary-shade-color);
    }
  }

  @include high-tablet {
    & {
      position: fixed;
      left: 0;
      top: 9%;
      z-index: 500;
      overflow-y: auto;
      width: 100%;
      height: 300px;
      background-color: var(--white-color);
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
  }

  @include small-tablet {
    & {
      top: 7%;
    }
  }

  @include mobile {
    & {
      top: 143px;
      height: 533px;
    }
  }

  &-img {
    display: none;

    @include high-tablet {
      & {
        display: block;
        position: absolute;
        top: 43.1%;
        right: 9.44%;
        width: 161px;
        height: 112px;
        fill: var(--grey-shade-color);
      }
    }

    @include mobile {
      & {
        display: none;
      }
    }
  }

  &-about {
    display: none;

    @include mobile {
      & {
        display: grid;
        padding: 21px 0 14px 12px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &-item-about {
    margin-bottom: 9px;

    &--ml {
      margin-left: -9px;
    }

    &--pl {
      padding-left: 23px;
    }
  }

  &-about--bg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 108px;
    background-color: var(--grey-light-color);
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
