.oxford {
  display: grid;
  grid-template-columns: 1fr;

  @include mobile {
    & {
      row-gap: 32px;
    }
  }

  &__picture {
    display: flex;
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 100%;

    @include mobile {
      & {
        min-height: 210px;
      }
    }

    &-image {
      width: 100%;
    }
  }

  &__container {
    grid-column: 1/-1;
    grid-row: 1/2;
    padding-top: 154px;
    padding-bottom: 150px;
    width: 100%;

    @include small-tablet {
      & {
        margin-left: 24px;
      }
    }

    @include mobile {
      & {
        margin-left: 0;
        padding-top: 32px;
        padding-bottom: 32px;
      }

      &-mobile {
        width: 100%;
      }
    }
  }

  &__title {
    font-family: 'PlayfairDisplay-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: var(--gold-color);

    @include mobile {
      & {
        font-size: 24px;
      }
    }
  }

  &__text {
    max-width: 508px;
    margin-bottom: 48.5px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--white-color);

    @include mobile {
      & {
        max-width: 235px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__link {
    padding: 20px 30px;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--primary-color);
    z-index: 2;

    @include mobile {
      & {
        width: 100%;
      }
    }

    @include hover {
      +& {
        border-color: var(--primary-light-color);
        background-color: var(--primary-light-color);
      }
    }

    &:focus-visible:not(:hover):not(:active) {
      border-color: var(--primary-shade-color);
      background-color: var(--primary-light-color);
    }

    &:active {
      border-color: var(--primary-shade-color);
      background-color: var(--primary-shade-color);
    }

    @include mobile {
      & {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @include mobile {
        & {
          display: block;
        }
      }
    }
  }
}

