.product {
  &__info {
    &-second {
      &-right {
        &-item {
          display: flex;

          &-name {
            font-size: 14px;
            line-height: 25px;
            color: var(--grey-color);
          }

          &-border {
            margin: 0 4px;
            flex-grow: 1;
            height: 18px;
            border-bottom: 1.7px dotted var(--grey-color);
          }

          &-value {
            width: 296px;
            font-size: 14px;
            line-height: 25px;
            color: var(--night-rider-color);

            @include high-desktop {
              & {
                width: 216px;
              }
            }
          }
        }
      }
    }
  }
}
