.product {
  &__info {
    &-buy {

      &-rating {
        margin-bottom: 3px;
      }

      &-title {
        margin-bottom: 4px;
      }

      &-text {
        margin-bottom: 20.25px;
        font-size: 14px;
        line-height: 100%;
        color: var(--grey-color);
      }

      &-price {
        margin-bottom: 22px;
        font-size: 36px;
        line-height: 130%;
        color: var(--night-rider-color);
      }

      &-click-btn {
        padding: 16.8px 33px;
        margin-bottom: 12px;
        background-color: var(--primary-color);
        color: var(--white-color);
      }

      &-basket-btn {
        transform: translateX(30px);
        font-size: 16px;
        line-height: 130%;
        color: var(--primary-color);
      }
    }
  }
}
