.product {

  &__info {
    &-large {
      &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-btn {
        cursor: zoom-in;
      }

      &-image {
        @include high-desktop {
          & {
            height: 201px;
          }
        }

        @include high-tablet {
          & {
            height: 242.5px;
          }
        }

        @include small-tablet {
          & {
            height: auto;
          }
        }
      }
    }

    &-box {
      &-swiper {
        @include high-tablet {
          & {
            height: 100%;
          }
        }
      }

      &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
