.product {
  &__info {
    &-second {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: auto;
      column-gap: 32px;

      &-left {
        grid-column: 1/7;
        min-height: 375px;
        display: flex;
        flex-direction: column;
      }

      &-right {
        grid-column: 7/13;
      }
    }
  }
}
