.site-container--product {
  & .breadcrumbs__container {
    margin-bottom: 30px;

    @include high-desktop {
      & {
        margin-bottom: 32px;
      }
    }

    @include high-tablet {
      & {
        margin-bottom: 31.5px;
      }
    }
  }
}

.product {
  margin-bottom: 82px;

  @include high-desktop {
    & {
      margin-bottom: 71.3px;
    }
  }

  @include high-tablet {
    & {
      margin-bottom: 32.5px;
    }
  }
}
