.rating {
  padding-top: 35px;
  padding-bottom: 35px;

  @include tablet {
    & {
      padding-top: 36px;
    }
  }

  &__title {
    margin-bottom: 26px;
  }

  &__items {
    margin-bottom: 32px;

    @include tablet {
      & {
        margin-bottom: 33px;
      }
    }

    & .card__list {
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;

      @include tablet {
        & {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @include high-tablet {
        & {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @include mobile {
        & {
          gap: 16px;
        }
      }
    }

    & .card__item {
      @include tablet {
        & {
          padding: 30.3px 30px 30px 30px;
        }

        & .card__picture {
          margin-bottom: 16.5px;
        }
      }
    }

    & .card__item:nth-child(n + 9) {
      display: none;
    }

    @include tablet {
      & .card__item:nth-child(n + 7) {
        display: none;
      }
    }
  }

  &__btn {
    margin: 0 auto;
    max-width: 298px;
    padding: 20px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
  }
}
