.rating {
  padding-top: 35px;
  padding-bottom: 70px;

  @include mobile {
    & {
      padding-top: 58px;
    }
  }

  &__title {
    margin-bottom: 26px;

    @include mobile {
      & {
        font-size: 24px;
      }
    }
  }

  &__items {
    margin-bottom: 32px;

    @include tablet {
      & {
        margin-bottom: 33px;
      }
    }

    @include mobile {
      & {
        margin-bottom: 32px;
      }
    }

    & .card__list {
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;

      @include tablet {
        & {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @include high-tablet {
        & {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @include mobile {
        & {
          gap: 16px;
        }
      }
    }

    & .card__item {
      @include tablet {
        & {
          padding: 30.3px 30px 30px 30px;
        }

        & .card__picture {
          margin-bottom: 16.5px;
        }
      }

      @include mobile {
        & {
          padding: 16.4px 16px 16px 16px;
        }

        & .card__rating {
          font-size: 12px;
        }

        & .card__rating-img {
          margin-right: 6px;
          width: 13px;
          height: 12px;
        }

        & .card__picture {
          margin-bottom: 7px;
          min-height: 60.9px;
          align-items: center;
          margin-right: -15px;
          margin-left: -15px;
          padding-right: 0;
          padding-left: 0;
        }

        & .card__picture-image {
          width: 78%;
        }

        & .card__title {
          margin-bottom: 16px;
          max-width: 108px;
          font-size: 16px;
        }

        & .card__price {
          margin-bottom: 16px;
        }

        & .card__link {
          padding: 10px 23px;
        }
      }
    }

    & .card__item:nth-child(n + 9) {
      display: none;
    }

    @include tablet {
      & .card__item:nth-child(n + 7) {
        display: none;
      }
    }
  }

  &__btn {
    margin: 0 auto;
    max-width: 298px;
    padding: 20px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);

    @include hover {
      +& {
        border-color: var(--primary-light-color);
        background-color: var(--primary-light-color);
      }
    }

    &:focus-visible:not(:hover):not(:active) {
      border-color: var(--primary-shade-color);
      background-color: var(--primary-light-color);
    }

    &:active {
      border-color: var(--primary-shade-color);
      background-color: var(--primary-shade-color);
    }

    @include mobile {
      & {
        padding: 20px 34.5px;
      }
    }
  }
}
