.choices__inner {
  background-color: transparent;
  border: none;
}

.choices__list--dropdown .choices__item.is-selected, .choosing-region .choices__list[aria-expanded] .choices__item.is-selected {
  display: none;
}

.choices__list.choices__list--dropdown {
  margin-top: 5px;
}

.choices[data-type*=select-one]:after {
  margin-top: -5px;
  border: 0;
  width: 8px;
  height: 8px;
  border-width: 0px;
  border-right: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  transform: rotate(135deg);
  transition: border-color .3s ease-in-out;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: 0;
  border-width: 0px;
  border-left: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

/*Убираем надпись Press to select*/
.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}

/*Названия в option стали горизонтальными*/
.choices__list--dropdown .choices__item--selectable {
  padding: 10px;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}

.choices__placeholder {
  opacity: 1;
}
