.special {
  padding-top: 43px;
  padding-bottom: 35px;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__controls {
    width: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btn {
      width: 32px;
      height: 32px;
      border-radius: 100px;
      border: 2px solid var(--primary-color);
      transition: border-color .3s ease-in-out;
    }

    &-btn.swiper-button-disabled {
      border-color: var(--grey-color);

      & .special__controls-img {
        stroke: var(--grey-color);
      }
    }

    &-img {
      width: 8px;
      height: 28px;
      fill: transparent;
      stroke: var(--primary-color);
      transition: stroke .3s ease-in-out;
    }

    &-prev-img {
      transform: rotate(180deg);
    }
  }

  &__slide {
    position: relative;
    padding: 30px;
    width: 236px;
    height: auto;
    min-height: 451px;
    border-radius: 10px;
    background-color: var(--grey-light-color);
    z-index: 1;

    &--center {
      width: 564px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;

    &-discount {
      position: absolute;
      top: 36px;
      left: 0;

      &-text {
        padding: 6.2px 0 0 15px;
        position: relative;
        top: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: var(--white-color);
      }

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 92px;
        height: 34px;
        fill: var(--secondary-color);
        z-index: -1;
      }
    }

    &-pic {
      display: block;
      align-self: center;
      margin-bottom: 16px;
    }

    &-title {
      margin-bottom: 20px;
      max-width: 225px;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      color: var(--night-rider-color);
    }

    &-image {
      vertical-align: bottom;
    }

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      color: var(--night-rider-color);
    }

    &-offer {
      display: flex;
      column-gap: 30px;
      row-gap: 10px;
      margin-bottom: 22px;

      &-new {
        display: inline-block;
        font-size: 18px;
        line-height: 130%;
        text-decoration: none;
        color: var(--secondary-color);
      }

      &-old {
        font-size: 16px;
        line-height: 130%;
        text-decoration-line: line-through;
        color: var(--grey-color);
      }
    }

    &-bgSofa {
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
  }
}
