.suppliers {

  &__title {
    margin-bottom: 32px;
  }

  &__content {
    margin-bottom: 32px;
    max-width: 842px;
  }

  &__subtitle {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--night-rider-color);
  }

  &__text {
    font-size: 16px;
    line-height: 180%;
    color: var(--grey-shade-color);
  }
}
