<div class="catalog__discount discount">
  <h3 class="catalog__discount-title catalog-subtitle">Скидка</h3>
  <form class="catalog__discount-form catalog__form" action="#" aria-label="выберите скидку">
    <label class="catalog__discount-form-label" for="more">
      <input class="catalog__discount-form-input catalog__more" type="checkbox" id="more"
        aria-label="скидка более пяти тысяч"><span class="catalog__discount-form-input-span">Более 5 000</span>
    </label>
    <label class="catalog__discount-form-label" for="less">
      <input class="catalog__discount-form-input catalog__less" type="checkbox" id="less"
        aria-label="скидка менее пяти тысяч"><span class="catalog__discount-form-input-span">Менее 5 000</span>
    </label>
    <label class="catalog__discount-form-label" for="notMatter">
      <input class="catalog__discount-form-input catalog__nodiscount" type="checkbox" id="notMatter" aria-label="нет скидки"
        checked><span class="catalog__discount-form-input-span">Не важно</span>
    </label>
  </form>
</div>
