<div class="catalog__price">
  <h3 class="catalog__price-title catalog-subtitle">Цена</h3>
  <form class="catalog__form" action="#" aria-label="выберите цену">
    <div class="catalog__form-price">
      <label class="catalog__form-label">
        <span class="catalog__form-label-span">от</span>
        <input class="catalog__form-input first-price" type="number" id="first-price" placeholder="0" min="0"
          max="225000" value="2000" aria-label="укажите цену">
      </label>
      <label>
        <span class="catalog__form-label-span">до</span>
        <input class="catalog__form-input second-price" type="number" id="second-price"
          placeholder="250000" min="0" max="225000" value="150000" aria-label="укажите цену">
      </label>
    </div>
    <div class="form-price__slide" id="range-slider"></div>
  </form>
</div>
