<section class="catalog">
  <div class="container catalog__container">
    <div class="catalog__content">
      <div class="catalog__left">
        <h2 class="catalog__left-title">Фильтровать по:</h2>
        @include('catalogFurnitures.html')
        @include('catalogPrice.html')
        @include('catalogDiscount.html')
        @include('catalogColors.html')
        @include('catalogOksford.html')
      </div>
      <div class="catalog__right">
        <h2 class="catalog__right-title">Каталог</h2>
        @include('catalogTag.html')
        <div class="catalog__swiper swiper">
          @include('catalogCard.html')
        </div>
        <div class="swiper-pagination catalog__swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
