<div class="catalog__tags btn-reset catalog-tags">
  <div class="catalog__tag tag-furnitures furnitures-sofas sofas-active">
    <span class="catalog__tag-text">Диваны</span>
    <button class="btn-reset catalog__tag-btn sofas-btn" aria-label="закрыть тег диваны">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-armchair">
    <span class="catalog__tag-text">Кресла</span>
    <button class="btn-reset catalog__tag-btn archair-btn" aria-label="закрыть тег кресла">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-poufs">
    <span class="catalog__tag-text">Пуфы</span>
    <button class="btn-reset catalog__tag-btn poufs-btn" aria-label="закрыть тег пуфы">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-beds">
    <span class="catalog__tag-text">Кровати</span>
    <button class="btn-reset catalog__tag-btn beds-btn" aria-label="закрыть тег кровати">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-pedestals">
    <span class="catalog__tag-text">Тумбы</span>
    <button class="btn-reset catalog__tag-btn pedestals-btn" aria-label="закрыть тег тумбы">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-commode">
    <span class="catalog__tag-text">Комоды</span>
    <button class="btn-reset catalog__tag-btn commode-btn" aria-label="закрыть тег коммоды">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-chairs">
    <span class="catalog__tag-text">Стулья</span>
    <button class="btn-reset catalog__tag-btn chairs-btn" aria-label="закрыть тег стулья">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-desk">
    <span class="catalog__tag-text">Столы</span>
    <button class="btn-reset catalog__tag-btn  desk-btn" aria-label="закрыть тег столы">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-accessories">
    <span class="catalog__tag-text">Аксессуары</span>
    <button class="btn-reset catalog__tag-btn accessories-btn" aria-label="закрыть тег аксессуары">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-straightsofas">
    <span class="catalog__tag-text">Прямые диваны</span>
    <button class="btn-reset catalog__tag-btn straightsofas-btn" aria-label="закрыть тег прямые диваны">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-cornersofas">
    <span class="catalog__tag-text">Угловые диваны</span>
    <button class="btn-reset catalog__tag-btn cornersofas-btn" aria-label="закрыть тег угловые диваны">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-modularsofas">
    <span class="catalog__tag-text">Модульные диваны</span>
    <button class="btn-reset catalog__tag-btn modularsofas-btn" aria-label="закрыть тег модульные диваны">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-leatherettesofas">
    <span class="catalog__tag-text">Диваны кожзам</span>
    <button class="btn-reset catalog__tag-btn leatherettesofas-btn" aria-label="закрыть тег диваны кожзам">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-upholsteredarmchairs">
    <span class="catalog__tag-text">Мягкие кресла</span>
    <button class="btn-reset catalog__tag-btn upholsteredarmchairs-btn" aria-label="закрыть тег мягкие кресла">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-chairbeds">
    <span class="catalog__tag-text">Кресла-кровати</span>
    <button class="btn-reset catalog__tag-btn chairbeds-btn" aria-label="закрыть тег кресла кровати">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-singlebeds">
    <span class="catalog__tag-text">Односпальные кровати</span>
    <button class="btn-reset catalog__tag-btn singlebeds-btn" aria-label="закрыть тег односпальные кровати">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-doublebeds">
    <span class="catalog__tag-text">Двуспальные кровати</span>
    <button class="btn-reset catalog__tag-btn doublebeds-btn" aria-label="закрыть тег двуспальные кровати">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-woodenchairs">
    <span class="catalog__tag-text">Деревянные стулья</span>
    <button class="btn-reset catalog__tag-btn woodenchairs-btn" aria-label="закрыть тег деревянные стулья">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-metalchairs">
    <span class="catalog__tag-text">Стулья металлокаркас</span>
    <button class="btn-reset catalog__tag-btn metalchairs-btn" aria-label="закрыть тег стулья металлокаркас">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-alarmclocks">
    <span class="catalog__tag-text">Будильники</span>
    <button class="btn-reset catalog__tag-btn alarmclocks-btn" aria-label="закрыть тег будильники">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-furnitures furnitures-sculptures">
    <span class="catalog__tag-text">Мини-скульптуры</span>
    <button class="btn-reset catalog__tag-btn sculptures-btn" aria-label="закрыть тег мини скульптуры">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-price price-active" id="price-wrap">
    <span class="catalog__tag-prc" id="prc">До 150 000</span>
    <button class="btn-reset catalog__tag-btn prc-btn" aria-label="закрыть тег цены">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-discount nodiscount nodiscount-active">
    <span class="catalog__tag-text">Без скидки</span>
    <button class="btn-reset catalog__tag-btn nodiscount-btn" aria-label="закрыть тег без скидки">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-discount morediscount">
    <span class="catalog__tag-text">Скидка более 5 000</span>
    <button class="btn-reset catalog__tag-btn morediscount-btn" aria-label="закрыть тег скидка более пяти тысяч">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-discount lessdiscount">
    <span class="catalog__tag-text">Скидка менее 5 000</span>
    <button class="btn-reset catalog__tag-btn lessdiscount-btn" aria-label="закрыть тег скидка менее пяти тысяч">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-brown">
    <span class="catalog__tag-text">Коричневый</span>
    <button class="btn-reset catalog__tag-btn brown-btn" aria-label="закрыть тег коричневый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-black">
    <span class="catalog__tag-text">Черный</span>
    <button class="btn-reset catalog__tag-btn black-btn" aria-label="закрыть тег чёрный цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-beige">
    <span class="catalog__tag-text">Бежевый</span>
    <button class="btn-reset catalog__tag-btn beige-btn" aria-label="закрыть тег бежевый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-gray">
    <span class="catalog__tag-text">Серый</span>
    <button class="btn-reset catalog__tag-btn gray-btn" aria-label="закрыть тег серый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-white">
    <span class="catalog__tag-text">Белый</span>
    <button class="btn-reset catalog__tag-btn white-btn" aria-label="закрыть тег белый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-navy">
    <span class="catalog__tag-text">Синий</span>
    <button class="btn-reset catalog__tag-btn navy-btn" aria-label="закрыть тег синий цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-orange orange-active">
    <span class="catalog__tag-text">Оранжевый</span>
    <button class="btn-reset catalog__tag-btn orange-btn" aria-label="закрыть тег оранжевый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-yellow">
    <span class="catalog__tag-text">Желтый</span>
    <button class="btn-reset catalog__tag-btn yellow-btn" aria-label="закрыть тег жёлтый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-green">
    <span class="catalog__tag-text">Зеленый</span>
    <button class="btn-reset catalog__tag-btn green-btn" aria-label="закрыть тег зелёный цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-red">
    <span class="catalog__tag-text">Красный</span>
    <button class="btn-reset catalog__tag-btn red-btn" aria-label="закрыть тег красный цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-purple">
    <span class="catalog__tag-text">Фиолетовый</span>
    <button class="btn-reset catalog__tag-btn purple-btn" aria-label="закрыть тег фиолетовый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-pink">
    <span class="catalog__tag-text">Розовый</span>
    <button class="btn-reset catalog__tag-btn pink-btn" aria-label="закрыть тег розовый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-blue">
    <span class="catalog__tag-text">Голубой</span>
    <button class="btn-reset catalog__tag-btn blue-btn" aria-label="закрыть тег голубой цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-lightgreen">
    <span class="catalog__tag-text">Салатовый</span>
    <button class="btn-reset catalog__tag-btn lightgreen-btn" aria-label="закрыть тег салатовый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-aquamarine">
    <span class="catalog__tag-text">Аквамарин</span>
    <button class="btn-reset catalog__tag-btn aquamarine-btn" aria-label="закрыть тег аквамарин цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
  <div class="catalog__tag tag-color color-grayc">
    <span class="catalog__tag-text">Сизый</span>
    <button class="btn-reset catalog__tag-btn grayc-btn" aria-label="закрыть тег сизый цвет">
     <svg class="catalog__tag-btn-img">
       <use xlink:href="img/sprite.svg#tagClose"></use>
     </svg>
    </button>
  </div>
</div>
