<div class="catalog__colors color">
  <h3 class="catalog__colors-title catalog-subtitle">Цвет</h3>
  <form class="catalog__form catalog__colors-form" action="#" aria-label="выберите цвет">
    <label class="catalog__colors-form-label color" for="brown">
      <input class="catalog__colors-form-input color__brown" type="checkbox" id="brown" name="коричневый"
        aria-label="коричневый цвет"><span class="catalog__colors-form-input-span">Коричневый</span>
    </label>
    <label class="catalog__colors-form-label color" for="black">
      <input class="catalog__colors-form-input color__black" type="checkbox" id="black" name="черный"
        aria-label="чёрный"><span class="catalog__colors-form-input-span">Черный</span>
    </label>
    <label class="catalog__colors-form-label color" for="beige">
      <input class="catalog__colors-form-input color__beige" type="checkbox" id="beige" name="бежевый"
        aria-label="бежевый"><span class="catalog__colors-form-input-span">Бежевый</span>
    </label>
    <label class="catalog__colors-form-label color" for="gray">
      <input class="catalog__colors-form-input color__gray" type="checkbox" id="gray" name="серый"
        aria-label="серый"><span class="catalog__colors-form-input-span">Серый</span>
    </label>
    <label class="catalog__colors-form-label color" for="white">
      <input class="catalog__colors-form-input color__white" type="checkbox" id="white" name="белый"
        aria-label="белый"><span class="catalog__colors-form-input-span">Белый</span>
    </label>
    <label class="catalog__colors-form-label color" for="navy">
      <input class="catalog__colors-form-input color__navy" type="checkbox" id="navy" name="синий"
        aria-label="синий"><span class="catalog__colors-form-input-span">Синий</span>
    </label>
    <label class="catalog__colors-form-label color" for="orange">
      <input class="catalog__colors-form-input color__orange" type="checkbox" id="orange" name="оранжевый" aria-label="оранжевый"
        checked><span class="catalog__colors-form-input-span">Оранжевый</span>
    </label>
    <label class="catalog__colors-form-label color" for="yellow">
      <input class="catalog__colors-form-input color__yellow" type="checkbox" id="yellow" name="желтый"
        aria-label="жёлтый"><span class="catalog__colors-form-input-span">Желтый</span>
    </label>
    <label class="catalog__colors-form-label color" for="green">
      <input class="catalog__colors-form-input color__green" type="checkbox" id="green" name="зеленый"
        aria-label="зелёный"><span class="catalog__colors-form-input-span">Зеленый</span>
    </label>
    <label class="catalog__colors-form-label color color-hidden" for="red">
      <input class="catalog__colors-form-input color__red" type="checkbox" id="red" name="красный"
        aria-label="красный"><span class="catalog__colors-form-input-span">Красный</span>
    </label>
    <label class="catalog__colors-form-label color color-hidden" for="purple">
      <input class="catalog__colors-form-input color__purple" type="checkbox" id="purple" name="фиолетовый"
        aria-label="фиолетовый"><span class="catalog__colors-form-input-span">Фиолетовый</span>
    </label>
    <label class="catalog__colors-form-label color color-hidden" for="pink">
      <input class="catalog__colors-form-input color__pink" type="checkbox" id="pink" name="розовый"
        aria-label="розовый"><span class="catalog__colors-form-input-span">Розовый</span>
    </label>
    <label class="catalog__colors-form-label color color-hidden" for="blue">
      <input class="catalog__colors-form-input color__blue" type="checkbox" id="blue" name="голубой"
        aria-label="голубой"><span class="catalog__colors-form-input-span">Голубой</span>
    </label>
    <label class="catalog__colors-form-label color color-hidden" for="lightGreen">
      <input class="catalog__colors-form-input color__lightgreen" type="checkbox" id="lightGreen" name="салатовый"
        aria-label="салатовый"><span class="catalog__colors-form-input-span">Салатовый</span>
    </label>
    <label class="catalog__colors-form-label color color-hidden" for="aquamarine">
      <input class="catalog__colors-form-input color__aquamarine" type="checkbox" id="aquamarine" name="аквамарин"
        aria-label="аквамарин"><span class="catalog__colors-form-input-span">Аквамарин</span>
    </label>
    <label class="catalog__colors-form-label color color-hidden" for="grayC">
      <input class="catalog__colors-form-input color__grayc" type="checkbox" id="grayC" name="сизый"
        aria-label="сизый"><span class="catalog__colors-form-input-span">Сизый</span>
    </label>
  </form>
  <button class="btn-reset catalog__btn color-btn" aria-label="показать дополнительные цвета">+ ещё 7</button>
  <button class="btn-reset catalog__btn color-close-btn" aria-label="свернуть дополнительные цвета">Свернуть</button>
</div>
