<li class="dropfilter__item">
  <button class="dropfilter__btn" data-path="filter2">
    <span class="dropfilter__title">Скидка</span>
  </button>
  <div class="dropfilter__content" data-target="filter2">
    <form class="catalog__form" action="#">

      <label class="catalog__discount-form-label" for="moreAdaptiv">
        <input class="catalog__discount-form-input catalog__more" type="checkbox" id="moreAdaptiv" aria-label="скидка более пяти тысяч рублей">
        <span class="catalog__discount-form-input-span">Более 5 000</span>
      </label>

      <label class="catalog__discount-form-label" for="lessAdaptiv">
        <input class="catalog__discount-form-input catalog__less" type="checkbox" id="lessAdaptiv" aria-label="скидка менее пяти тысяч">
        <span class="catalog__discount-form-input-span">Менее 5 000</span>
      </label>

      <label class="catalog__discount-form-label" for="notMatterAdaptiv">
        <input class="catalog__discount-form-input catalog__nodiscount" type="checkbox" id="notMatterAdaptiv" aria-label="нет скидки" checked>
        <span class="catalog__discount-form-input-span">Не важно</span>
      </label>
    </form>
  </div>
</li>
