<li class="dropfilter__item">
  <button class="btn-reset dropfilter__btn" data-path="filter1" aria-label="нажмите чтобы открыть список цены">
    <span class="dropfilter__title">Цена</span>
  </button>
  <div class="dropfilter__content" data-target="filter1">
    <form class="catalog__form form-price" action="#">
      <div class="catalog__form-price form-price">
        <label class="catalog__form-label">
          <span class="catalog__form-label-span">от</span>
          <input class="catalog__form-input first-price" type="number" id="first-priceAdaptiv"
            placeholder="0" min="0" max="225000" value="2000" aria-label="введите цену">
        </label>
        <label class="catalog__form-label">
          <span class="catalog__form-label-span">до</span>
          <input class="catalog__form-input second-price" type="number" id="second-priceAdaptiv"
            placeholder="250&nbsp;000" min="0" max="225000" value="150000" aria-label="введите цену">
        </label>
      </div>
    </form>
  </div>
</li>
