<li class="dropfilter__item">
  <button class="btn-reset dropfilter__btn" data-path="filter" data-pathf="filterbtn" data-targetf="filterbtn"
    aria-label="нажмите чтобы открыть список категорий мебели">
    <span class="dropfilter__title">Категория</span>
  </button>
  <div class="dropfilter__content" data-target="filter">
    <form class="catalog__form form-category" action="#">
      <label class="catalog__furniture furniture" for="divansAdaptiv">
        <input class="furniture__sofas furniture__input" type="checkbox" id="divansAdaptiv" name="диваны"
          aria-label="диваны" checked><span class="furniture__span">Диваны</span>
      </label>
      <label class="catalog__furniture furniture" for="armchairAdaptiv">
        <input class="furniture__armchair furniture__input" type="checkbox" id="armchairAdaptiv" name="кресла"
          aria-label="кресла"><span class="furniture__span">Кресла</span>
      </label>
      <label class="catalog__furniture furniture" for="poufsAdaptiv">
        <input class="furniture__poufs furniture__input" type="checkbox" id="poufsAdaptiv" name="пуфы"
          aria-label="пуфы"><span class="furniture__span">Пуфы</span>
      </label>
      <label class="catalog__furniture furniture" for="bedsAdaptiv">
        <input class="furniture__beds furniture__input" type="checkbox" id="bedsAdaptiv" name="кровати"
          aria-label="кровати"><span class="furniture__span">Кровати</span>
      </label>
      <label class="catalog__furniture furniture" for="pedestalsAdaptiv">
        <input class="furniture__pedestals furniture__input" type="checkbox" id="pedestalsAdaptiv" name="тумбы"
          aria-label="тумбы"><span class="furniture__span">Тумбы</span>
      </label>
      <label class="catalog__furniture furniture" for="commodeAdaptiv">
        <input class="furniture__commode furniture__input" type="checkbox" id="commodeAdaptiv" name="комоды"
          aria-label="комоды"><span class="furniture__span">Комоды</span>
      </label>
      <label class="catalog__furniture furniture" for="chairsAdaptiv">
        <input class="furniture__chair furniture__input" type="checkbox" id="chairsAdaptiv" name="стулья"
          aria-label="стулья"><span class="furniture__span">Стулья</span>
      </label>
      <label class="catalog__furniture furniture" for="deskAdaptiv">
        <input class="furniture__desk furniture__input" type="checkbox" id="deskAdaptiv" name="столы"
          aria-label="столы"><span class="furniture__span">Столы</span>
      </label>
      <label class="catalog__furniture furniture" for="accessoriesAdaptiv">
        <input class="furniture__accessories furniture__input" type="checkbox" id="accessoriesAdaptiv" name="аксессуары"
          aria-label="аксессуары"><span class="furniture__span">Аксессуары</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="straightSofasAdaptiv">
        <input class="furniture__straightsofas furniture__input" type="checkbox" id="straightSofasAdaptiv"
          name="прямые диваны" aria-label="прямые диваны"><span class="furniture__span">Прямые диваны</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="cornerSofasAdaptiv">
        <input class="furniture__cornersofas furniture__input" type="checkbox" id="cornerSofasAdaptiv"
          name="угловые диваны" aria-label="угловые диваны"><span class="furniture__span">Угловые диваны</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="modularSofasAdaptiv">
        <input class="furniture__modularsofas furniture__input" type="checkbox" id="modularSofasAdaptiv"
          name="модульные диваны" aria-label="модульные диваны"><span class="furniture__span">Модульные диваны</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="leatheretteSofasAdaptiv">
        <input class="furniture__leatherettesofas furniture__input" type="checkbox" id="leatheretteSofasAdaptiv"
          name="диваны кожзам" aria-label="диваны кожзам"><span class="furniture__span">Диваны кожзам</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="upholsteredArmchairsAdaptiv">
        <input class="furniture__upholsteredarmchairs furniture__input" type="checkbox" id="upholsteredArmchairsAdaptiv"
          name="мягкие кресла" aria-label="мягкие кресла"><span class="furniture__span">Мягкие кресла</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="chairBedsAdaptiv">
        <input class="furniture__chairbeds furniture__input" type="checkbox" id="chairBedsAdaptiv" name="кресла-кровати"
          aria-label="кресла кровати"><span class="furniture__span">Кресла-кровати</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="singleBedsAdaptiv">
        <input class="furniture__singlebeds furniture__input" type="checkbox" id="singleBedsAdaptiv"
          name="односпальные кровати" aria-label="односплаьные кровати"><span class="furniture__span">Односпальные кровати</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="doubleBedsAdaptiv">
        <input class="furniture__doublebeds furniture__input" type="checkbox" id="doubleBedsAdaptiv"
          name="двуспальные кровати" aria-label="двуспальные кровати"><span class="furniture__span">Двуспальные кровати</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="woodenChairsAdaptiv">
        <input class="furniture__woodenchairs furniture__input" type="checkbox" id="woodenChairsAdaptiv"
          name="деревянные стулья" aria-label="деревянные стулья"><span class="furniture__span">Деревянные стулья</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="metalChairsAdaptiv">
        <input class="furniture__metalchairs furniture__input" type="checkbox" id="metalChairsAdaptiv"
          name="стулья металлокаркас" aria-label="стулья металлокаркас"><span class="furniture__span">Стулья металлокаркас</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="alarmclocksAdaptiv">
        <input class="furniture__alarmclocks furniture__input" type="checkbox" id="alarmclocksAdaptiv" name="будильники"
          aria-label="будильники"><span class="furniture__span">Будильники</span>
      </label>
      <label class="catalog__furniture furniture furniture-hidden" for="sculpturesAdaptiv">
        <input class="furniture__sculptures furniture__input" type="checkbox" id="sculpturesAdaptiv" name="мини скульптуры"
          aria-label="минки скульптуры"><span class="furniture__span">Мини-скульптуры</span>
      </label>
    </form>
    <button class="btn-reset catalog__btn btn-furniture"
      aria-label="нажмите чтобы просмотреть дополнительные категории мебели">+ ещё 12</button>
    <button class="btn-reset catalog__btn catalog__close-furniture btn-close-furniture"
      aria-label="нажмите чтобы свернуть дополнительные категории мебели">Свернуть</button>
  </div>
</li>
