<section class="categories">
  <div class="container categories__container">
    <h2 class="section-title categories__title">Топ категории</h2>
    <ul class="list-reset categories__card-list">
      <li class="categories__card-item categories__card-item--sofas">
        <article class="categories__card-content">
          <ul class="list-reset categories__card-content-list">
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Прямые</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Угловые</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Модульные</a></li>
          </ul>
          <h3 class="categories__card-content-title">Диваны</h3>
          <picture class="categories__card-content-picture">
            <source srcset="img/categories/1categories1920@x1.avif, img/categories/1categories1920@x2.avif 2x, img/categories/1categories1920@x3.avif 3x" type="image/avif">
            <source srcset="img/categories/1categories1920@x1.webp, img/categories/1categories1920@x2.webp 2x, img/categories/1categories1920@x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/categories/1categories1920@x1.png" srcset="img/categories/1categories1920@x2.png 2x, img/categories/1categories1920@x3.png 3x" class="categories__card-content-image" width="515" height="308" alt="Изображение дивана">
          </picture>
          <a href="#no-scrolling" class="categories__card-content-link">
            <span class="categories__card-content-link-text">В каталог</span>
            <span class="categories__card-content-link-circle">
              <svg class="categories__card-content-link-img">
                <use xlink:href="img/sprite.svg#arrowBtn"></use>
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="categories__card-item categories__card-item--chairs">
        <article class="categories__card-content">
          <ul class="list-reset categories__card-content-list">
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Мягкие</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Кресла-кровати</a></li>
          </ul>
          <h3 class="categories__card-content-title">Кресла</h3>
          <picture class="categories__card-content-picture">
            <source srcset="img/categories/2categories1920@x1.avif, img/categories/2categories1920@x2.avif 2x, img/categories/2categories1920@x3.avif 3x" type="image/avif">
            <source srcset="img/categories/2categories1920@x1.webp, img/categories/2categories1920@x2.webp 2x, img/categories/2categories1920@x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/categories/2categories1920@x1.png" srcset="img/categories/2categories1920@x2.png 2x, img/categories/2categories1920@x3.png 3x" class="categories__card-content-image" width="515" height="308" alt="Изображение кресла">
          </picture>
          <a href="#no-scrolling" class="categories__card-content-link">
            <span class="categories__card-content-link-text">В каталог</span>
            <span class="categories__card-content-link-circle">
              <svg class="categories__card-content-link-img">
                <use xlink:href="img/sprite.svg#arrowBtn"></use>
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="categories__card-item categories__card-item--beds">
        <article class="categories__card-content">
          <ul class="list-reset categories__card-content-list">
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Односпальные</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Двуспальные</a></li>
          </ul>
          <h3 class="categories__card-content-title">Кровати</h3>
          <picture class="categories__card-content-picture">
            <source srcset="img/categories/3categories1920@x1.avif, img/categories/3categories1920@x2.avif 2x, img/categories/3categories1920@x3.avif 3x" type="image/avif">
            <source srcset="img/categories/3categories1920@x1.webp, img/categories/3categories1920@x2.webp 2x, img/categories/3categories1920@x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/categories/3categories1920@x1.png" srcset="img/categories/3categories1920@x2.png 2x, img/categories/3categories1920@x3.png 3x" class="categories__card-content-image" width="306" height="308" alt="Изображение дивана">
          </picture>
          <a href="#no-scrolling" class="categories__card-content-link">
            <span class="categories__card-content-link-text">В каталог</span>
            <span class="categories__card-content-link-circle">
              <svg class="categories__card-content-link-img">
                <use xlink:href="img/sprite.svg#arrowBtn"></use>
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="categories__card-item categories__card-item--curbstones">
        <article class="categories__card-content">
          <ul class="list-reset categories__card-content-list">
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Тумбы</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Комоды</a></li>
          </ul>
          <h3 class="categories__card-content-title">Тумбы и комоды</h3>
          <picture class="categories__card-content-picture">
            <source srcset="img/categories/4categories1920@x1.avif, img/categories/4categories1920@x2.avif 2x, img/categories/4categories1920@x3.avif 3x" type="image/avif">
            <source srcset="img/categories/4categories1920@x1.webp, img/categories/4categories1920@x2.webp 2x, img/categories/4categories1920@x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/categories/4categories1920@x1.png" srcset="img/categories/4categories1920@x2.png 2x, img/categories/4categories1920@x3.png 3x" class="categories__card-content-image" width="330" height="308" alt="Изображение дивана">
          </picture>
          <a href="#no-scrolling" class="categories__card-content-link">
            <span class="categories__card-content-link-text">В каталог</span>
            <span class="categories__card-content-link-circle">
              <svg class="categories__card-content-link-img">
                <use xlink:href="img/sprite.svg#arrowBtn"></use>
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="categories__card-item categories__card-item--seat">
        <article class="categories__card-content">
          <ul class="list-reset categories__card-content-list">
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Деревянные</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Металлокаркас</a></li>
          </ul>
          <h3 class="categories__card-content-title">Стулья</h3>
          <picture class="categories__card-content-picture">
            <source srcset="img/categories/5categories1920@x1.avif, img/categories/5categories1920@x2.avif 2x, img/categories/5categories1920@x3.avif 3x" type="image/avif">
            <source srcset="img/categories/5categories1920@x1.webp, img/categories/5categories1920@x2.webp 2x, img/categories/5categories1920@x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/categories/5categories1920@x1.png" srcset="img/categories/5categories1920@x2.png 2x, img/categories/5categories1920@x3.png 3x" class="categories__card-content-image" width="258" height="308" alt="Изображение дивана">
          </picture>
          <a href="#no-scrolling" class="categories__card-content-link">
            <span class="categories__card-content-link-text">В каталог</span>
            <span class="categories__card-content-link-circle">
              <svg class="categories__card-content-link-img">
                <use xlink:href="img/sprite.svg#arrowBtn"></use>
              </svg>
            </span>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
