<section class="categories">
  <div class="container categories__container">
    <h2 class="section-title categories__title">Топ категории</h2>
    <ul class="list-reset categories__card-list">
      <li class="categories__card-item categories__card-item--sofas">
        <article class="categories__card-content">
          <ul class="list-reset categories__card-content-list">
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Прямые</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Угловые</a></li>
            <li class="categories__card-content-item"><a href="#no-scrolling" class="categories__card-content-item-link">Модульные</a></li>
          </ul>
          <h3 class="categories__card-content-title">Диваны</h3>
          <picture class="categories__card-content-picture">
            <source srcset="img/categories/categories1.avif" type="image/avif">
            <source srcset="img/categories/categories1.webp" type="image/webp">
            <img loading="lazy" src="img/categories/categories1.png" class="categories__card-content-image" width="515" height="308" alt="Изображение дивана">
          </picture>
          <a href="#no-scrolling" class="categories__card-content-link">В каталог</a>
        </article>
      </li>
    </ul>
  </div>
</section>
