<section class="contacts">
  <div class="container contacts__container">
    <h1 class="visually-hidden">На этой страницы вы можете узнать адрес, режим работы, телефон и местоположение магазина SitDownPls</h1>
    <h2 class="section-title contacts__title">Контакты</h2>
    <div class="contacts__wrapper">
      <form action="#" class="contacts__form">
        <input class="contacts__form-input" id="suggest" type="text" placeholder="Поиск магазина">
        <button class="btn-all btn-reset contacts__form-btn js-search">Поиск</button>
      </form>
      <div class="contacts__form-map" id="map"></div>
    </div>
  </div>
</section>
