<section class="feedback">
  <div class="container feedback__container">
    <div class="feedback__wrapper">
      <div class="feedback__wrapper-content">
        <h2 class="section-title feedback__wrapper-title">Мы всегда вам рады!</h2>
        <p class="feedback__wrapper-text">Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.</p>
        <form action="#" class="form feedback__form">
          <label class="feedback__form-label">
            <input type="text" name="Имя" class="input-reset feedback__form-input input-name" placeholder="Как вас зовут?">
          </label>
          <label class="feedback__form-label">
            <input type="tel" name="Телефон" class="input-reset feedback__form-input input-tel" placeholder="Ваш телефон">
          </label>
          <label class="feedback__form-label">
            <input type="email" name="E-mail" class="input-reset feedback__form-input input-email" placeholder="Ваш e-mail">
          </label>
          <button class="btn-reset btn-all feedback__form-btn">Отправить</button>
          <div class="feedback__form-checkbox">
            <input class="visually-hidden feedback__form-checkbox-hidden" id="feedback__form-checkbox-hidden" type="checkbox" name="feedbackFormAgreement" value="yes" checked required>
            <label class="btn-reset feedback__form-checkbox-text" for="feedback__form-checkbox-hidden">
              Принимаю
              <a href="#no-scrolling" class="feedback__form-checkbox-link">пользовательское соглашение</a>
            </label>
          </div>
        </form>
      </div>
      <picture class="feedback__wrapper-picture">
        <source srcset="img/feedback/feedback@1920x1.avif" type="image/avif">
        <source srcset="img/feedback/feedback@1920x1.webp" type="image/webp">
        <img loading="lazy" src="img/feedback/feedback@1920x1.png" srcset="img/feedback/feedback@1920x2.png 2x, img/feedback/feedback@1920x3.png 3x" class="feedback__wrapper-image" width="624" height="383" alt="Фоновая картинка">
      </picture>
    </div>
  </div>
</section>
