<div class="catalog__furnitures">
  <form class="catalog__form form-category" action="#" aria-label="выберите категорию мебели">
    <h3 class="catalog__form-title">Категория</h3>
    <label class="catalog__furniture furniture" for="divans">
      <input class="furniture__sofas furniture__input" type="checkbox" id="divans" name="диваны" aria-label="диваны"
        checked><span class="furniture__span">Диваны</span>
    </label>
    <label class="catalog__furniture furniture" for="armchair">
      <input class="furniture__armchair furniture__input" type="checkbox" id="armchair" name="кресла"
        aria-label="кресла"><span class="furniture__span">Кресла</span>
    </label>
    <label class="catalog__furniture furniture" for="poufs">
      <input class="furniture__poufs furniture__input" type="checkbox" id="poufs" name="пуфы"
        aria-label="пуфы"><span class="furniture__span">Пуфы</span>
    </label>
    <label class="catalog__furniture furniture" for="beds">
      <input class="furniture__beds furniture__input" type="checkbox" id="beds" name="кровати"
        aria-label="кровати"><span class="furniture__span">Кровати</span>
    </label>
    <label class="catalog__furniture furniture" for="pedestals">
      <input class="furniture__pedestals furniture__input" type="checkbox" id="pedestals" name="тумбы"
        aria-label="тумбы"><span class="furniture__span">Тумбы</span>
    </label>
    <label class="catalog__furniture furniture" for="commode">
      <input class="furniture__commode furniture__input" type="checkbox" id="commode" name="комоды"
        aria-label="комоды"><span class="furniture__span">Комоды</span>
    </label>
    <label class="catalog__furniture furniture" for="chairs">
      <input class="furniture__chair furniture__input" type="checkbox" id="chairs" name="стулья"
        aria-label="стулья"><span class="furniture__span">Стулья</span>
    </label>
    <label class="catalog__furniture furniture" for="desk">
      <input class="furniture__desk furniture__input" type="checkbox" id="desk" name="столы"
        aria-label="столы"><span class="furniture__span">Столы</span>
    </label>
    <label class="catalog__furniture furniture" for="accessories">
      <input class="furniture__accessories furniture__input" type="checkbox" id="accessories" name="аксессуары"
        aria-label="аксессуары"><span class="furniture__span">Аксессуары</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="straightSofas">
      <input class="furniture__straightsofas furniture__input" type="checkbox" id="straightSofas" name="прямые диваны"
        aria-label="прямые диваны"><span class="furniture__span">Прямые диваны</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="cornerSofas">
      <input class="furniture__cornersofas furniture__input" type="checkbox" id="cornerSofas" name="угловые диваны"
        aria-label="угловые диваны"><span class="furniture__span">Угловые диваны</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="modularSofas">
      <input class="furniture__modularsofas furniture__input" type="checkbox" id="modularSofas" name="модульные диваны"
        aria-label="модульные диваны"><span class="furniture__span">Модульные диваны</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="leatheretteSofas">
      <input class="furniture__leatherettesofas furniture__input" type="checkbox" id="leatheretteSofas" name="диваны кожзам"
        aria-label="виданы кожзам"><span class="furniture__span">Диваны кожзам</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="upholsteredArmchairs">
      <input class="furniture__upholsteredarmchairs furniture__input" type="checkbox" id="upholsteredArmchairs"
        name="мягкие кресла" aria-label="мягкие кресла"><span class="furniture__span">Мягкие кресла</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="chairBeds">
      <input class="furniture__chairbeds furniture__input" type="checkbox" id="chairBeds" name="кресла-кровати"
        aria-label="кресла кровати"><span class="furniture__span">Кресла-кровати</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="singleBeds">
      <input class="furniture__singlebeds furniture__input" type="checkbox" id="singleBeds" name="односпальные кровати"
        aria-label="односпальные кровати"><span class="furniture__span">Односпальные кровати</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="doubleBeds">
      <input class="furniture__doublebeds furniture__input" type="checkbox" id="doubleBeds" name="двуспальные кровати"
        aria-label="двуспальные кровати"><span class="furniture__span">Двуспальные кровати</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="woodenChairs">
      <input class="furniture__woodenchairs furniture__input" type="checkbox" id="woodenChairs" name="деревянные стулья"
        aria-label="деревянные стулья"><span class="furniture__span">Деревянные стулья</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="metalChairs">
      <input class="furniture__metalchairs furniture__input" type="checkbox" id="metalChairs" name="стулья металлокаркас"
        aria-label="стулья металлокаркас"><span class="furniture__span">Стулья металлокаркас</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="alarmclocks">
      <input class="furniture__alarmclocks furniture__input" type="checkbox" id="alarmclocks" name="будильники"
        aria-label="будильники"><span class="furniture__span">Будильники</span>
    </label>
    <label class="catalog__furniture furniture furniture-hidden" for="sculptures">
      <input class="furniture__sculptures furniture__input" type="checkbox" id="sculptures" name="мини скульптуры"
        aria-label="мини скульптуры"><span class="furniture__span">Мини-скульптуры</span>
    </label>
  </form>
  <button class="btn-reset catalog__btn btn-furniture"
    aria-label="нажмите чтобы посмотреть дополнительные категории мебели">+ ещё 12</button>
  <button class="btn-reset catalog__btn btn-close-furniture"
    aria-label="нажмите чтобы свернуть дополнительные категории мебели">Свернуть</button>
</div>
