<header class="header">
  <div class="header__line header__line-first">
    <div class="container header__container">
      @include('logoLink.html')
      @include('selectRegion.html')
      @include('phoneLink.html')
      @include('navInfo.html')
    </div>
  </div>
  <div class="header__line header__line-second">
    <div class="container header__container">
      @include('navInfo.html')
      @include('userShopBtn.html')
      @include('selectRegionMobile.html')
      @include('phoneLink.html')
    </div>
  </div>
  <div class="header__line header__line-third">
    <div class="container header__container">
      @include('burger.html')
      @include('logoLink.html')
      @include('navNavigation.html')
      @include('userShopBtn.html')
    </div>
  </div>
  <div class="header__line header__line-fourth">
    <div class="container header__container">
      @include('formSearch.html')
      @include('userShopBtn.html')
    </div>
  </div>
</header>
