<nav class="nav__navigation" title="Навигация по сайту" data-menu>
  <ul class="list-reset nav__navigation-list">
    <li class="nav__navigation-item"><a href="catalog.html" class="nav__navigation-link" data-menu-item data-scroll>Каталог</a></li>
    <li class="nav__navigation-item"><a href="#" class="nav__navigation-link" data-menu-item data-scroll>Магазины</a></li>
    <li class="nav__navigation-item"><a href="#" class="nav__navigation-link" data-menu-item data-scroll>Шоу-рум</a></li>
    <li class="nav__navigation-item"><a href="#" class="nav__navigation-link" data-menu-item data-scroll>Доставка и оплата</a></li>
    <li class="nav__navigation-item"><a href="#" class="nav__navigation-link" data-menu-item data-scroll>Дисконт</a></li>
    <li class="nav__navigation-item"><a href="contacts.html" class="nav__navigation-link" data-menu-item data-scroll>Контакты</a></li>
  </ul>
</nav>
