<section class="oxford">
  <div class="container oxford__container">
    <div class="oxford__content">
      <h2 class="oxford__title">Оксфорд 1950</h2>
      <p class="oxford__text">Новая коллекция изысканных кресел</p>
    </div>
    <a href="#no-scrolling" class="btn-reset btn-all oxford__link">Ознакомиться</a>
  </div>
  <picture>
    <source srcset="img/oxford/oxford-bg.avif" type="image/avif">
    <source srcset="img/oxford/oxford-bg.webp" type="image/webp">
    <img loading="lazy" src="img/oxford/oxford-bg.png" class="oxford__image" width="1920" height="600" alt="Фоновая картинка - Oxford">
  </picture>
</section>

