<div class="product__modal-container graph-modal__container container" role="dialog" aria-modal="true" data-graph-target="large">
  <button class="btn-reset js-modal-close graph-modal__close product__modal-btn" aria-label="Закрыть модальное окно">
    <svg class="product__modal-btn-img">
      <use xlink:href="img/sprite.svg#closeModal"></use>
    </svg>
  </button>
  <div class="product__modal-content">
    <div class="product__modal-wrap-large">
      <div class="swiper product__modal-large product-large-modal">
        <ul class="list-reset swiper-wrapper product__modal-large-wrapper">
          <li class="swiper-slide product__modal-large-slide">
              <picture class="product__modal-large-picture">
                <source srcset="img/productD-31/1920img1d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img1d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img1d31@x1.png" class="product__modal-large-image" width="1065" height="418" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
          </li>
          <li class="swiper-slide product__modal-large-slide">
              <picture class="product__modal-large-picture">
                <source srcset="img/productD-31/1920img2d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img2d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img2d31@x1.png" class="product__modal-large-image" width="839"  height="418" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
          </li>
          <li class="swiper-slide product__modal-large-slide">
              <picture class="product__modal-large-picture">
                <source srcset="img/productD-31/1920img3d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img3d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img3d31@x1.png" class="product__modal-large-image product__modal-large-image-mobile3" width="447"  height="418" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
          </li>
          <li class="swiper-slide product__modal-large-slide">
              <picture class="product__modal-large-picture">
                <source srcset="img/productD-31/1920img4d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img4d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img4d31@x1.png" class="product__modal-large-image" width="913" height="418" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
          </li>
          <li class="swiper-slide product__modal-large-slide">
              <picture class="product__modal-large-picture">
                <source srcset="img/productD-31/1920img5d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img5d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img5d31@x1.png" class="product__modal-large-image" width="933" height="418" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="product__modal-small">
      <div class="swiper product__small-swiper product-small-modal">
        <ul class="list-reset swiper-wrapper product__modal-small-wrapper">
          <li class="swiper-slide product__modal-small-slide">
            <button class="btn-reset product__small-btn">
              <picture>
                <source srcset="img/productD-31/1920img1d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img1d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img1d31@x1.png" class="product__small-image" width="321"
                  height="126" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide product__modal-small-slide">
            <button class="btn-reset product__small-btn">
              <picture>
                <source srcset="img/productD-31/1920img2d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img2d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img2d31@x1.png" class="product__small-image" width="253"
                  height="126" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide product__modal-small-slide">
            <button class="btn-reset product__small-btn">
              <picture>
                <source srcset="img/productD-31/1920img3d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img3d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img3d31@x1.png" class="product__small-image" width="135"
                  height="126" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide product__modal-small-slide">
            <button class="btn-reset product__small-btn">
              <picture>
                <source srcset="img/productD-31/1920img4d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img4d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img4d31@x1.png" class="product__small-image" width="275"
                  height="126" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide product__modal-small-slide">
            <button class="btn-reset product__small-btn">
              <picture>
                <source srcset="img/productD-31/1920img5d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920img5d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920img5d31@x1.png" class="product__small-image" width="281"
                  height="126" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
        </ul>
      </div>
      <button class="btn-reset product__modal-small-btn product__modal-small-btn--prev product__modal-small--prev">
        <svg class="product__modal-small-btn-img product__modal-small-btn-img--prev product__modal-small-img">
          <use xlink:href="img/sprite.svg#arrowBtn"></use>
        </svg>
      </button>
      <button class="btn-reset product__modal-small-btn product__modal-small-btn--next product__modal-small--next">
        <svg class="product__modal-small-btn-img product__modal-small-btn-img--next product__modal-small-img">
          <use xlink:href="img/sprite.svg#arrowBtn"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
