<div class="graph-modal__container product__success-container" role="dialog" aria-modal="true" data-graph-target="success">
  <button class="btn-reset js-modal-close graph-modal__close product__modal-btn" aria-label="Закрыть модальное окно">
    <svg class="product__modal-btn-img">
      <use xlink:href="img/sprite.svg#closeModal"></use>
    </svg>
  </button>
  <div class="product__success-content">
    <img loading="lazy" src="img/logoModal.svg" class="product__success-content-image" width="172" height="117" alt="Логотип интренет-магазина 'SitDownPls">
    <h2 class="product__success-content-title">Спасибо, мы вам перезвоним!</h2>
  </div>
</div>
