<div class="swiper product-large product__info-large">
  <ul class="list-reset swiper-wrapper">
    <li class="swiper-slide product__info-large-slide">
      <button class="btn-reset product__info-large-btn product-button" data-graph-path="large">
        <picture>
          <source srcset="img/productD-31/1920img1d31@x1.avif" type="image/avif">
          <source srcset="img/productD-31/1920img1d31@x1.webp" type="image/webp">
          <img loading="lazy" src="img/productD-31/1920img1d31@x1.png" class="product__info-image" width="624" height="245"
            alt="Первое большое изображение дивана тканевого прямого D-31">
        </picture>
      </button>
    </li>
    <li class="swiper-slide product__info-large-slide">
      <button class="btn-reset product__info-large-btn product-button" data-graph-path="large">
        <picture>
          <source srcset="img/productD-31/1920img2d31@x1.avif" type="image/avif">
          <source srcset="img/productD-31/1920img2d31@x1.webp" type="image/webp">
          <img loading="lazy" src="img/productD-31/1920img2d31@x1.png" class="product__info-image" width="495" height="245"
            alt="Первое большое изображение дивана тканевого прямого D-31">
        </picture>
      </button>
    </li>
    <li class="swiper-slide product__info-large-slide">
      <button class="btn-reset product__info-large-btn product-button" data-graph-path="large">
        <picture>
          <source srcset="img/productD-31/1920img3d31@x1.avif" type="image/avif">
          <source srcset="img/productD-31/1920img3d31@x1.webp" type="image/webp">
          <img loading="lazy" src="img/productD-31/1920img3d31@x1.png" class="product__info-image" width="265" height="245"
            alt="Первое большое изображение дивана тканевого прямого D-31">
        </picture>
      </button>
    </li>
    <li class="swiper-slide product__info-large-slide">
      <button class="btn-reset product__info-large-btn product-button" data-graph-path="large">
        <picture>
          <source srcset="img/productD-31/1920img4d31@x1.avif" type="image/avif">
          <source srcset="img/productD-31/1920img4d31@x1.webp" type="image/webp">
          <img loading="lazy" src="img/productD-31/1920img4d31@x1.png" class="product__info-image" width="538" height="245"
            alt="Первое большое изображение дивана тканевого прямого D-31">
        </picture>
      </button>
    </li>
    <li class="swiper-slide product__info-large-slide">
      <button class="btn-reset product__info-large-btn product-button" data-graph-path="large">
        <picture>
          <source srcset="img/productD-31/1920img5d31@x1.avif" type="image/avif">
          <source srcset="img/productD-31/1920img5d31@x1.webp" type="image/webp">
          <img loading="lazy" src="img/productD-31/1920img5d31@x1.png" class="product__info-image" width="551" height="245"
            alt="Первое большое изображение дивана тканевого прямого D-31">
        </picture>
      </button>
    </li>
  </ul>
</div>
<div class="product__info-box">
  <div class="swiper product__info-box-swiper product-small">
    <ul class="list-reset swiper-wrapper">
      <li class="swiper-slide product__info-box-slide">
        <button class="btn-reset product__info-box-btn">
          <picture>
            <source srcset="img/productD-31/1920img1d31@x1.avif" type="image/avif">
            <source srcset="img/productD-31/1920img1d31@x1.webp" type="image/webp">
            <img loading="lazy" src="img/productD-31/1920img1d31@x1.png" class="product__info-box-image" width="123" height="61"
              alt="Первое большое изображение дивана тканевого прямого D-31">
          </picture>
        </button>
      </li>
      <li class="swiper-slide product__info-box-slide">
        <button class="btn-reset product__info-box-btn">
          <picture>
            <source srcset="img/productD-31/1920img2d31@x1.avif" type="image/avif">
            <source srcset="img/productD-31/1920img2d31@x1.webp" type="image/webp">
            <img loading="lazy" src="img/productD-31/1920img2d31@x1.png" class="product__info-box-image" width="123" height="61"
              alt="Первое большое изображение дивана тканевого прямого D-31">
          </picture>
        </button>
      </li>
      <li class="swiper-slide product__info-box-slide">
        <button class="btn-reset product__info-box-btn">
          <picture>
            <source srcset="img/productD-31/1920img3d31@x1.avif" type="image/avif">
            <source srcset="img/productD-31/1920img3d31@x1.webp" type="image/webp">
            <img loading="lazy" src="img/productD-31/1920img3d31@x1.png" class="product__info-box-image" width="66" height="61"
              alt="Первое большое изображение дивана тканевого прямого D-31">
          </picture>
        </button>
      </li>
      <li class="swiper-slide product__info-box-slide">
        <button class="btn-reset product__info-box-btn">
          <picture>
            <source srcset="img/productD-31/1920img4d31@x1.avif" type="image/avif">
            <source srcset="img/productD-31/1920img4d31@x1.webp" type="image/webp">
            <img loading="lazy" src="img/productD-31/1920img4d31@x1.png" class="product__info-box-image" width="134" height="61"
              alt="Первое большое изображение дивана тканевого прямого D-31">
          </picture>
        </button>
      </li>
      <li class="swiper-slide product__info-box-slide">
        <button class="btn-reset product__info-box-btn">
          <picture>
            <source srcset="img/productD-31/1920img5d31@x1.avif" type="image/avif">
            <source srcset="img/productD-31/1920img5d31@x1.webp" type="image/webp">
            <img loading="lazy" src="img/productD-31/1920img5d31@x1.png" class="product__info-box-image" width="137" height="61"
              alt="Первое большое изображение дивана тканевого прямого D-31">
          </picture>
        </button>
      </li>
    </ul>
  </div>
</div>

