<section class="product__first-line">
  <div class="container">
    <div class="product__first-line-iner">
      <div class="swiper product__swiper swiper-large-images">
        <ul class="list-reset swiper-wrapper">
          <li class="swiper-slide">
            <button class="btn-reset product__swiper-btn">
              <picture>
                <source srcset="img/productD-31/1920d31@x1.avif" type="image/avif">
                <source srcset="img/productD-31/1920d31@x1.webp" type="image/webp">
                <img loading="lazy" src="img/productD-31/1920d31@x1.png" class="image" width="624" height="245" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
