<div class="product__info-buy">
  <span class="card__rating product__info-buy-rating">
    <svg class="card__rating-img product__info-buy-rating-img">
      <use xlink:href="img/sprite.svg#star"></use>
    </svg>
    4,8
  </span>
  <h2 class="product__info-buy-title card__title">Диван тканевый прямой <no-typography>“D-31”</no-typography></h2>
  <p class="product__info-buy-text">Мини 120 см без ящика Stark синий (Рогожка)</p>
  <span class="product__info-buy-price">28 490 руб</span>
  <button class="btn-reset btn-all product__info-buy-click-btn">Купить в один клик</button>
  <button class="btn-reset product__info-buy-basket-btn">+ Добавить в корзину</button>
</div>
