<ul class="list-reset product__info-second-right product__info-second-right-list">
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Гарантия</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">18 месяцев</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Артикул</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">AAA41269004</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Длина</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">163 см</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Высота</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">90 см</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Глубина</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">108 см</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Спальное место</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">200 см х 125 см</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Высота посадки</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">45 см</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Механизм</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Опорный</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Тип обивки</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Рогожка</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Цвет</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Синий</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Наполнитель</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Независимый пружинный блок</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Материал каркаса</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Металл. рама с дерев. латами</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Количество мест</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Двухместные</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Категория</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Прямые тканевые диваны</span>
  </li>
  <li class="product__info-second-right-item">
    <span class="product__info-second-right-item-name">Возврат</span>
    <span class="product__info-second-right-item-border"></span>
    <span class="product__info-second-right-item-value">Условия</span>
  </li>
</ul>
