<section class="similar similar-product-section">
  <div class="container">
    <div class="similar__wrap">
      <h2 class="similar__wrap-title">Похожие товары</h2>
      <div class="similar__controls similar__controls--desktop">
        <button class="btn-reset similar__controls-btn similar-controls-prev">
          <svg class="similar__controls-prev-img similar__controls-img">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
        <button class="btn-reset similar__controls-btn similar-controls-next">
          <svg class="similar__controls-next-img similar__controls-img">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper similar-swiper similar__produts">
      <ul class="swiper-wrapper list-reset card">
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,5
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa16.avif" type="image/avif">
              <source srcset="img/card/sofa16.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa16.png" class="card__picture-image" width="251" height="105" alt="Диван велюровый “R-85”">
            </picture>
            <h3 class="card__title">Диван велюровый
              <span class="card__title-model"><no-typography>“R-85”</no-typography></span></h3>
            <span class="card__price">34 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,6
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa11.avif" type="image/avif">
              <source srcset="img/card/sofa11.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa11.png" class="card__picture-image" width="233" height="133" alt="Диван флоковый “H-58”">
            </picture>
            <h3 class="card__title">Диван флоковый
              <span class="card__title-model"><no-typography>“H-58”</no-typography></span></h3>
            <span class="card__price">23 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,5
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa17.avif" type="image/avif">
              <source srcset="img/card/sofa17.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa17.png" class="card__picture-image" width="272" height="105" alt="Диван велюровый “S-44”">
            </picture>
            <h3 class="card__title">Диван велюровый
              <span class="card__title-model"><no-typography>“S-44”</no-typography></span></h3>
            <span class="card__price">19 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,8
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa7.avif" type="image/avif">
              <source srcset="img/card/sofa7.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa7.png" class="card__picture-image" width="266" height="130" alt="Диван шиниловый “V-43”">
            </picture>
            <h3 class="card__title">Диван шиниловый
              <span class="card__title-model"><no-typography>“V-43”</no-typography></span></h3>
            <span class="card__price">19 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,6
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa13.avif" type="image/avif">
              <source srcset="img/card/sofa13.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa13.png" class="card__picture-image" width="229" height="127" alt="Диван из шинила “С-42”">
            </picture>
            <h3 class="card__title">Диван из шинила
              <span class="card__title-model"><no-typography>“С-42”</no-typography></span></h3>
            <span class="card__price">18 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,6
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa14.avif" type="image/avif">
              <source srcset="img/card/sofa14.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa14.png" class="card__picture-image" width="269" height="92" alt="Диван велюровый “U-58”">
            </picture>
            <h3 class="card__title">Диван велюровый
              <span class="card__title-model"><no-typography>“U-58”</no-typography></span></h3>
            <span class="card__price">21 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,6
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa10.avif" type="image/avif">
              <source srcset="img/card/sofa10.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa10.png" class="card__picture-image" width="251" height="130" alt="Диван флоковый “H-64”">
            </picture>
            <h3 class="card__title">Диван флоковый
              <span class="card__title-model"><no-typography>“H-64”</no-typography></span></h3>
            <span class="card__price">25 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
        <li class="card__item swiper-slide">
          <article class="card__content">
            <span class="card__rating">
              <svg class="card__rating-img">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              4,8
            </span>
            <picture class="card__picture">
              <source srcset="img/card/sofa6.avif" type="image/avif">
              <source srcset="img/card/sofa6.webp" type="image/webp">
              <img loading="lazy" src="img/card/sofa6.png" class="card__picture-image" width="271" height="117" alt="Диван флоковый “G-41”">
            </picture>
            <h3 class="card__title">Диван флоковый
              <span class="card__title-model"><no-typography>“G-41”</no-typography></span></h3>
            <span class="card__price">17 990 руб</span>
            <a href="#no-scrolling" class="card__link btn-all">Купить</a>
          </article>
        </li>
      </ul>
    </div>
      <div class="similar__controls similar__controls--desktop similar-controls-mobile">
        <button class="btn-reset similar__controls-btn similar-controls-prev">
          <svg class="similar__controls-prev-img similar__controls-img">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
        <button class="btn-reset similar__controls-btn similar-controls-next">
          <svg class="similar__controls-next-img similar__controls-img">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
    </div>
  </div>
</section>
