<ul class="list-reset card__list">
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        5,0
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa1.avif" type="image/avif">
        <source srcset="img/card/sofa1.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa1.png" class="card__picture-image" width="266" height="82" alt="Диван кожаный “R-94”">
      </picture>
      <h3 class="card__title">Диван кожаный
        <span class="card__title-model"><no-typography>“R-94”</no-typography></span></h3>
      <span class="card__price">94 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,9
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa2.avif" type="image/avif">
        <source srcset="img/card/sofa2.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa2.png" class="card__picture-image" width="261" height="101" alt="Диван апартековый “T-75”">
      </picture>
      <h3 class="card__title">Диван апартековый
        <span class="card__title-model"><no-typography>“T-75”</no-typography></span></h3>
      <span class="card__price">69 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa3.avif" type="image/avif">
        <source srcset="img/card/sofa3.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa3.png" class="card__picture-image" width="262" height="103" alt="Диван тканевый “D-31”">
      </picture>
      <h3 class="card__title">Диван тканевый
        <span class="card__title-model"><no-typography>“D-31”</no-typography></span></h3>
      <span class="card__price">28 490 руб</span>
      <a href="productD-31.html" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa4.avif" type="image/avif">
        <source srcset="img/card/sofa4.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa4.png" class="card__picture-image" width="257" height="125" alt="Диван велюровый “Y-68”">
      </picture>
      <h3 class="card__title">Диван велюровый
        <span class="card__title-model"><no-typography>“Y-68”</no-typography></span></h3>
      <span class="card__price">22 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa5.avif" type="image/avif">
        <source srcset="img/card/sofa5.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa5.png" class="card__picture-image" width="265" height="117" alt="Диван из шинила “W-95”">
      </picture>
      <h3 class="card__title">Диван из шинила
        <span class="card__title-model"><no-typography>“W-95”</no-typography></span></h3>
      <span class="card__price">22 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa6.avif" type="image/avif">
        <source srcset="img/card/sofa6.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa6.png" class="card__picture-image" width="271" height="117" alt="Диван флоковый “G-41”">
      </picture>
      <h3 class="card__title">Диван флоковый
        <span class="card__title-model"><no-typography>“G-41”</no-typography></span></h3>
      <span class="card__price">17 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa7.avif" type="image/avif">
        <source srcset="img/card/sofa7.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa7.png" class="card__picture-image" width="266" height="130" alt="Диван шиниловый “V-43”">
      </picture>
      <h3 class="card__title">Диван шиниловый
        <span class="card__title-model"><no-typography>“V-43”</no-typography></span></h3>
      <span class="card__price">19 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,7
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa8.avif" type="image/avif">
        <source srcset="img/card/sofa8.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa8.png" class="card__picture-image" width="212" height="124" alt="Диван велюровый “S-99”">
      </picture>
      <h3 class="card__title">Диван велюровый
        <span class="card__title-model"><no-typography>“S-99”</no-typography></span></h3>
      <span class="card__price">19 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,7
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa9.avif" type="image/avif">
        <source srcset="img/card/sofa9.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa9.png" class="card__picture-image" width="262" height="125" alt="Диван из кожзама “F-85”">
      </picture>
      <h3 class="card__title">Диван из кожзама
        <span class="card__title-model"><no-typography>“F-85”</no-typography></span></h3>
      <span class="card__price">26 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,6
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa10.avif" type="image/avif">
        <source srcset="img/card/sofa10.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa10.png" class="card__picture-image" width="251" height="130" alt="Диван флоковый “H-64”">
      </picture>
      <h3 class="card__title">Диван флоковый
        <span class="card__title-model"><no-typography>“H-64”</no-typography></span></h3>
      <span class="card__price">25 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,6
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa11.avif" type="image/avif">
        <source srcset="img/card/sofa11.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa11.png" class="card__picture-image" width="233" height="133" alt="Диван флоковый “H-58”">
      </picture>
      <h3 class="card__title">Диван флоковый
        <span class="card__title-model"><no-typography>“H-58”</no-typography></span></h3>
      <span class="card__price">23 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,6
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa12.avif" type="image/avif">
        <source srcset="img/card/sofa12.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa12.png" class="card__picture-image" width="271" height="105" alt="Диван из кожзама “R-43”">
      </picture>
      <h3 class="card__title">Диван из кожзама
        <span class="card__title-model"><no-typography>“R-43”</no-typography></span></h3>
      <span class="card__price">33 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,6
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa13.avif" type="image/avif">
        <source srcset="img/card/sofa13.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa13.png" class="card__picture-image" width="229" height="127" alt="Диван из шинила “С-42”">
      </picture>
      <h3 class="card__title">Диван из шинила
        <span class="card__title-model"><no-typography>“С-42”</no-typography></span></h3>
      <span class="card__price">18 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,6
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa14.avif" type="image/avif">
        <source srcset="img/card/sofa14.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa14.png" class="card__picture-image" width="269" height="92" alt="Диван велюровый “U-58”">
      </picture>
      <h3 class="card__title">Диван велюровый
        <span class="card__title-model"><no-typography>“U-58”</no-typography></span></h3>
      <span class="card__price">21 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,5
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa15.avif" type="image/avif">
        <source srcset="img/card/sofa15.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa15.png" class="card__picture-image" width="269" height="92" alt="Диван флоковый “F-41”">
      </picture>
      <h3 class="card__title">Диван флоковый
        <span class="card__title-model"><no-typography>“F-41”</no-typography></span></h3>
      <span class="card__price">17 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,5
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa16.avif" type="image/avif">
        <source srcset="img/card/sofa16.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa16.png" class="card__picture-image" width="251" height="105" alt="Диван велюровый “R-85”">
      </picture>
      <h3 class="card__title">Диван велюровый
        <span class="card__title-model"><no-typography>“R-85”</no-typography></span></h3>
      <span class="card__price">34 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,5
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa17.avif" type="image/avif">
        <source srcset="img/card/sofa17.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa17.png" class="card__picture-image" width="272" height="105" alt="Диван велюровый “S-44”">
      </picture>
      <h3 class="card__title">Диван велюровый
        <span class="card__title-model"><no-typography>“S-44”</no-typography></span></h3>
      <span class="card__price">19 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
  <li class="card__item">
    <article class="card__content">
      <span class="card__rating">
        <svg class="card__rating-img">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        4,4
      </span>
      <picture class="card__picture">
        <source srcset="img/card/sofa18.avif" type="image/avif">
        <source srcset="img/card/sofa18.webp" type="image/webp">
        <img loading="lazy" src="img/card/sofa18.png" class="card__picture-image" width="227" height="130" alt="Диван из шинила “С-80”">
      </picture>
      <h3 class="card__title">Диван из шинила
        <span class="card__title-model"><no-typography>“С-80”</no-typography></span></h3>
      <span class="card__price">20 990 руб</span>
      <a href="#no-scrolling" class="card__link btn-all">Купить</a>
    </article>
  </li>
</ul>

