<div class="form__search-сategories choosing-category">
  <select class="form__search-сategories-select" aria-label="Выбрать мебель">
    <option value="">Категория</option>
    <option value="Диваны">Диваны</option>
    <option value="Комоды">Комоды</option>
    <option value="Кресла">Кресла</option>
    <option value="Стулья">Стулья</option>
    <option value="Пуфы">Пуфы</option>
    <option value="Столы">Столы</option>
    <option value="Кровати">Кровати</option>
    <option value="Аксессуары">Аксессуары</option>
    <option value="Тумбы">Тумбы</option>
  </select>
</div>
