<section class="special">
  <div class="container special__container">
    <div class="special__wrapper">
      <h2 class="special__title section-title">Специальные предложения</h2>
      <div class="special__controls">
        <button class="btn-reset special__controls-btn special__controls--prev">
          <svg class="special__controls-prev-img special__controls-img">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
        <button class="btn-reset special__controls-btn special__controls--next">
          <svg class="special__controls-next-img special__controls-img">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper special__swiper">
      <ul class="swiper-wrapper list-reset">
        <li class="swiper-slide special__slide">
          <article class="special__content">
            <span class="special__content-discount">
              <span class="special__content-discount-text">
                <no-typography>- 9 000</no-typography>
                <svg class="special__content-discount-img">
                  <use xlink:href="img/sprite.svg#bgDiscount"></use>
                </svg>
              </span>
            </span>
            <div class="special__content-wrap-img">
              <picture>
                <source srcset="img/special/special1@x1.avif, img/special/special1@x2.avif 2x, img/special/special1@x3.avif 3x" type="image/avif">
                <source srcset="img/special/special1@x1.webp, img/special/special1@x2.webp 2x, img/special/special1@x3.webp 3x" type="image/webp">
                <img loading="lazy" src="img/special/special1@x1.png" srcset="img/special/special1@x2.png 2x, img/special/special1@x3.png 3x" class="special__content-image" width="193" height="210" alt="Кресло велюровое “X-24”">
              </picture>
            </div>
            <div class="special__content-description">
              <h3 class="special__content-description-title">Кресло велюровое <no-typography>“X-24”</no-typography>
              </h3>
              <div class="special__content-offer">
                <ins class="special__content-offer-new">15 990 руб</ins>
                <del class="special__content-offer-old">24 990 руб</del>
              </div>
            </div>
            <a href="#no-scrolling" class="special__content-link btn-all">Купить</a>
          </article>
        </li>
        <li class="swiper-slide special__slide special__slide--center">
          <article class="special__content">
            <span class="special__content-discount">
              <span class="special__content-discount-text">
                <no-typography>- 10 000</no-typography>
                <svg class="special__content-discount-img">
                  <use xlink:href="img/sprite.svg#bgDiscount"></use>
                </svg>
              </span>
            </span>
            <div class="special__content-wrap-img special__content-wrap-img--center">
              <picture>
                <source srcset="img/special/special2.avif, img/special/1920special2@x2.avif 2x, img/special/1920special2@x3.avif 3x" type="image/avif">
                <source srcset="img/special/special2.webp, img/special/1920special2@x2.webp 2x, img/special/1920special2@x3.webp 3x" type="image/webp">
                <img loading="lazy" src="img/special/1920special2@x1.png" srcset="img/special/1920special2@x2.png 2x, img/special/1920special2@x3.png 3x"
                  class="special__content-image special__content-image--center" width="450" height="245"
                  alt="Диван тканевый “Z-44”">
              </picture>
            </div>
            <div class="special__content-description">
              <h3 class="special__content-description-title">Диван тканевый <no-typography>“Z-44”</no-typography>
              </h3>
              </h3>
              <div class="special__content-offer">
                <ins class="special__content-offer-new">22 990 руб</ins>
                <del class="special__content-offer-old">32 990 руб</del>
              </div>
            </div>
            <a href="#no-scrolling" class="special__content-link btn-all">Купить</a>
            <div class="special__content-bgSofa">
              <img loading="lazy" src="img/special/bgSofa.svg" class="special__content-bgSofa-image" width="230"
                height="107" alt="Схема дивана тканевого “Z-44”">
            </div>
          </article>
        </li>
        <li class="swiper-slide special__slide">
          <article class="special__content">
            <span class="special__content-discount">
              <span class="special__content-discount-text">
                <no-typography>- 600</no-typography>
                <svg class="special__content-discount-img">
                  <use xlink:href="img/sprite.svg#bgDiscount"></use>
                </svg>
              </span>
            </span>
            <div class="special__content-wrap-img">
              <picture>
                <source srcset="img/special/special3@x1.avif, img/special/special3@x2.avif 2x, img/special/special3@x3.avif 3x" type="image/avif">
                <source srcset="img/special/special3@x1.webp, img/special/special3@x2.webp 2x, img/special/special3@x3.webp 3x" type="image/webp">
                <img loading="lazy" src="img/special/special3@x1.png" srcset="img/special/special3@x2.png 2x, img/special/special3@x3.png 3x" class="special__content-image" width="149"
                  height="218" alt="Будильник  “Quartz-23”">
              </picture>
            </div>
            <div class="special__content-description">
              <h3 class="special__content-description-title">Будильник <no-typography>“Quartz-23”</no-typography>
              </h3>
              <div class="special__content-offer">
                <ins class="special__content-offer-new">1 290 руб</ins>
                <del class="special__content-offer-old">1 890 руб</del>
              </div>
            </div>
            <a href="#no-scrolling" class="special__content-link btn-all">Купить</a>
          </article>
        </li>
        <li class="swiper-slide special__slide">
          <article class="special__content">
            <span class="special__content-discount">
              <span class="special__content-discount-text">
                <no-typography>- 300</no-typography>
                <svg class="special__content-discount-img">
                  <use xlink:href="img/sprite.svg#bgDiscount"></use>
                </svg>
              </span>
            </span>
            <div class="special__content-wrap-img">
              <picture>
                <source srcset="img/special/special4.avif" type="image/avif">
                <source srcset="img/special/special4.webp" type="image/webp">
                <img loading="lazy" src="img/special/special4.png" class="special__content-image" width="117"
                  height="210" alt="Мини-скульптура “Oh my deer”">
              </picture>
            </div>
            <div class="special__content-description">
              <h3 class="special__content-description-title">Мини-скульптура <no-typography>“Oh my deer”</no-typography>
              </h3>
              <div class="special__content-offer">
                <ins class="special__content-offer-new">690 руб</ins>
                <del class="special__content-offer-old">990 руб</del>
              </div>
            </div>
            <a href="#no-scrolling" class="special__content-link btn-all">Купить</a>
          </article>
        </li>
        <li class="swiper-slide special__slide special__slide--center">
          <article class="special__content">
            <span class="special__content-discount">
              <span class="special__content-discount-text">
                <no-typography>- 10 000</no-typography>
                <svg class="special__content-discount-img">
                  <use xlink:href="img/sprite.svg#bgDiscount"></use>
                </svg>
              </span>
            </span>
            <div class="special__content-wrap-img special__content-wrap-img--center">
              <picture>
                <source srcset="img/special/special5.avif" type="image/avif">
                <source srcset="img/special/special5.webp" type="image/webp">
                <img loading="lazy" src="img/special/special5.png" class="special__content-image special__content-image--center" width="463"
                  height="223" alt="Диван вел-флок “Z-85”">
              </picture>
            </div>
            <div class="special__content-description">
              <h3 class="special__content-description-title">Диван вел-флок <no-typography>“Z-85”</no-typography>
              </h3>
              </h3>
              <div class="special__content-offer">
                <ins class="special__content-offer-new">22 990 руб</ins>
                <del class="special__content-offer-old">32 990 руб</del>
              </div>
            </div>
            <a href="#no-scrolling" class="special__content-link btn-all">Купить</a>
            <div class="special__content-bgSofa">
              <img loading="lazy" src="img/special/bgSofa2.svg" class="special__content-bgSofa-image" width="230"
                height="107" alt="Схема дивана тканевого “Z-44”">
            </div>
          </article>
        </li>
        <li class="swiper-slide special__slide">
          <article class="special__content">
            <span class="special__content-discount">
              <span class="special__content-discount-text">
                <no-typography>- 700</no-typography>
                <svg class="special__content-discount-img">
                  <use xlink:href="img/sprite.svg#bgDiscount"></use>
                </svg>
              </span>
            </span>
            <div class="special__content-wrap-img">
              <picture>
                <source srcset="img/special/special6.avif" type="image/avif">
                <source srcset="img/special/special6.webp" type="image/webp">
                <img loading="lazy" src="img/special/special6.png" class="special__content-image" width="183"
                  height="218" alt="Термометр + гидрометр “H-18”">
              </picture>
            </div>
            <div class="special__content-description">
              <h3 class="special__content-description-title">Термометр + гидрометр <no-typography>“H-18”</no-typography>
              </h3>
              <div class="special__content-offer">
                <ins class="special__content-offer-new">1 390 руб</ins>
                <del class="special__content-offer-old">2 090 руб</del>
              </div>
            </div>
            <a href="#no-scrolling" class="special__content-link btn-all">Купить</a>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
