<section class="useful">
  <div class="container useful__container">
    <div class="useful__wrapper">
      <h2 class="section-title useful__title" tabindex="0" aria-label="Вы находитесь в секции полезное">Полезное</h2>
      <div class="useful__controls">
        <button class="btn-reset useful__controls-btn useful-controls-prev">
          <svg class="useful__controls-btn-img useful__controls-btn-img-prev">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
        <button class="btn-reset useful__controls-btn useful-controls-next">
          <svg class="useful__controls-btn-img">
            <use xlink:href="img/sprite.svg#arrowBtn"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper useful__swiper">
      <ul class="list-reset swiper-wrapper">
         <li class="swiper-slide useful__slide">
          <picture class="useful__slide-picture">
            <source srcset="img/useful/slide1x1.avif, img/useful/slide1x2.avif 2x, img/useful/slide1x3.avif 3x" type="image/avif">
            <source srcset="img/useful/slide1x1.webp, img/useful/slide1x2.webp 2x, img/useful/slide1x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/useful/slide1x1.png" srcset="img/useful/slide1x2.png 2x, img/useful/slide1x3.png 3x" class="useful__slide-image" width="624" height="426" alt="Фоновая картинка - 1">
          </picture>
          <div class="useful__slide-content">
            <p class="useful__slide-text">
              И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
            </p>
            <a href="#no-scrolling" class="btn-reset btn-all useful__slide-link">Читать</a>
          </div>
         </li>
         <li class="swiper-slide useful__slide">
          <picture class="useful__slide-picture">
            <source srcset="img/useful/slide2x1.avif, img/useful/slide2x2.avif 2x, img/useful/slide2x3.avif 3x" type="image/avif">
            <source srcset="img/useful/slide2x1.webp, img/useful/slide2x2.webp 2x, img/useful/slide2x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/useful/slide2x1.png" srcset="img/useful/slide2x2.png 2x, img/useful/slide2x3.png 3x" class="useful__slide-image" width="624" height="426" alt="Фоновая картинка - 2">
          </picture>
          <div class="useful__slide-content">
            <p class="useful__slide-text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <a href="#no-scrolling" class="btn-reset btn-all useful__slide-link">Читать</a>
          </div>
         </li>
         <li class="swiper-slide useful__slide">
          <picture class="useful__slide-picture">
            <source srcset="img/useful/slide3x1.avif, img/useful/slide3x2.avif 2x, img/useful/slide3x3.avif 3x" type="image/avif">
            <source srcset="img/useful/slide3x1.webp, img/useful/slide3x2.webp 2x, img/useful/slide3x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/useful/slide3x1.png" srcset="img/useful/slide3x2.png 2x, img/useful/slide3x3.png 3x" class="useful__slide-image" width="624" height="426" alt="Фоновая картинка - 3">
          </picture>
          <div class="useful__slide-content">
            <p class="useful__slide-text">
              Ясность нашей позиции очевидна: укрепление <no-typography>и</no-typography> развитие внутренней структуры?
            </p>
            <a href="#no-scrolling" class="btn-reset btn-all useful__slide-link">Читать</a>
          </div>
         </li>
         <li class="swiper-slide useful__slide">
          <picture class="useful__slide-picture">
            <source srcset="img/useful/slide4x1.avif, img/useful/slide4x2.avif 2x, img/useful/slide4x3.avif 3x" type="image/avif">
            <source srcset="img/useful/slide4x1.webp, img/useful/slide4x2.webp 2x, img/useful/slide4x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/useful/slide4x1.png" srcset="img/useful/slide4x2.png 2x, img/useful/slide4x3.png 3x" class="useful__slide-image" width="624" height="426" alt="Фоновая картинка - 4">
          </picture>
          <div class="useful__slide-content">
            <p class="useful__slide-text">
              Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
            </p>
            <a href="#no-scrolling" class="btn-reset btn-all useful__slide-link">Читать</a>
          </div>
         </li>
         <li class="swiper-slide useful__slide">
          <picture class="useful__slide-picture">
            <source srcset="img/useful/slide5x1.avif, img/useful/slide5x2.avif 2x, img/useful/slide5x3.avif 3x" type="image/avif">
            <source srcset="img/useful/slide5x1.webp, img/useful/slide5x2.webp 2x, img/useful/slide5x3.webp 3x" type="image/webp">
            <img loading="lazy" src="img/useful/slide5x1.png" srcset="img/useful/slide5x2.png 2x, img/useful/slide5x3.png 3x" class="useful__slide-image" width="624" height="426" alt="Фоновая картинка - 5">
          </picture>
          <div class="useful__slide-content">
            <p class="useful__slide-text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <a href="#no-scrolling" class="btn-reset btn-all useful__slide-link">Читать</a>
          </div>
         </li>
      </ul>
    </div>
  </div>
</section>
